
Building Xrm Toolbox Tools/Sample Code/MyXrmToolBoxPlugin/packages/
Building Xrm Toolbox Tools/Sample Code/MyXrmToolBoxPlugin/.vs/
Building Xrm Toolbox Tools/Sample Code/MyXrmToolBoxPlugin/*/obj/
Building Xrm Toolbox Tools/Sample Code/MyXrmToolBoxPlugin/*/bin/